body {
    width: 1920px;
    height: 9248px;
    background-color: #FFFFFF; /* 하얀색 */
    margin: 0;
    padding: 0;
    font-family: '나눔고딕', sans-serif; /* 폰트는 필요에 따라 변경 */
}

.top-bar {
    width: 1920px;
    height: 60px;
    background-color: #37393F; /* 주어진 검은색 */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #FFFFFF;
    padding: 0 20px; /* 좌우 여백을 조금 줍니다. 필요에 따라 조정 가능합니다. */
    padding-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.logo {
    height: 50px; /* 로고 크기를 조절하려면 이 값을 변경하세요. */
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 70px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #000; /* 글자 색상입니다. 필요에 따라 변경하세요. */
    font-size: 22px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #555; /* 마우스 오버시의 글자 색상입니다. 필요에 따라 변경하세요. */
}

.login-button {
    background-color: #37393F; /* 검은색 버튼 배경 */
    color: #FFF;
    border: none;
    padding: 20px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 250px;
}

.login-button:hover {
    background-color: #555;
}

.centered-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.center-text {
 text-align: center;
}

.center-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    height: 100vh; /* 뷰포트 높이에 따라 전체 화면 높이 */
}

form.center-form {
    width: 30%; /* 원하는 폭에 따라 변경 */
}