<!DOCTYPE html>
<html>
  <head>
    <title>MP3 to Text Converter</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>MP3 to Text Converter</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".mp3" />
      <button type="submit">업로드 및 변환</button>
    </form>
    <button onclick="savePathToDB()">경로 db에 저장</button>
    <!-- Axios 요청 스크립트 -->
    <script type="text/javascript">
      function savePathToDB() {
        // "/saveAudioFilePath" 경로로 POST 요청을 보냄.
        // Spring Boot 컨트롤러에서 해당 경로를 처리 (AudioController.java)
        axios
          .post("/saveAudioFilePath", {
            audioFilePath: "C:\\Users\\skgud\\Downloads\\output.wav",
          })
          .then(function (response) {
            alert("Audio file path saved successfully!");
          })
          .catch(function (error) {
            alert("Failed to save audio file path!");
          });
      }
    </script>
  </body>
</html>
